:root {
    /* variaveis para cores */
    --firstColor: #1f1f1f;
    --secondColor: #000000;
    --thirdColor: #ab0000;
    --fourthColor: #e2e2e2;
    --shadow-color: 0 0 30px 40px #1f1f1f;

}


* {
    box-sizing: border-box;
}

html {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 75%;
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
    color: var(--fourthColor);
    font-family: Arial;
    background: var(--firstColor);
}

body {
    max-width: 80%px;
    margin: auto;
    padding: 10px;
}

p {
    font-weight: 900;
    color: var(--fourthColor);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

h2 {
    color: var(--firstColor);
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 28px "Lato", sans-serif;
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -3px 0 var(--thirdColor), 0 1px var(--thirdColor), 3px 0 var(--thirdColor), 0 -1px var(--thirdColor);
}

h3 {
    color: var(--thirdColor);
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    width: 100%;
    top: 10px;
    z-index: 99;
    text-align: center;
    background-color: var(--firstColor);
    letter-spacing: 5px;
    transition: 0.2s;
}

.navbarShrink {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
}

/* Style the links tag */
.nava {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
}

#navbar-right {
    width: 100%;
}

/* Style the logo */
.logo {
    margin: 20px;
    width: 40%;
    transition: 0.2s;
}

.logo1 {
    margin: 5px;
    width: 20%;
    transition: 0.2s;
}

.div-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    bottom: 0;
}

i {
    margin-right: 10px;
    margin-left: 3px;
}

#navbar a:hover,
#footer {
    background-color: var(--secondColor);
    color: var(--fourthColor);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bgimg-1,
.bgimg-1-2,
.bgimg-2 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1,
.bgimg-1-2 {
    opacity: 0.35;
    background-image: url("bg_img.jpg");
    min-height: 70%;
    box-shadow: inset 0 0 30px 20px var(--firstColor);
}

.bgimg-1-2 {
    justify-content: center;
    margin: auto;
    width: 100%;
    min-height: 70%;
}

.bgimg-2 {
    opacity: 0.6;
    background-image: url("img_parallax.jpg");
    min-height: 400px;
    box-shadow: inset 0 0 30px 10px var(--firstColor);
    border: 3px solid var(--secondColor);
}

.flip-card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    border-radius: 15%;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
}

.flip-card-back {
    border: 3px solid #000000;
    background-color: var(--firstColor);
    transform: rotateY(180deg);
}

.text-container {
    margin: auto;
    max-width: 800px;
    width: 80%;
}

.paragraph-container {
    transition: transform .2s;
    text-align: center;
    margin: 20px;
}

.paragraph-container:hover {
    transform: scale(1.1);
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    padding: 20px;
    margin-top: 65px;
}

#contact-card {
    text-align: center;
}

.container {
    font-size: 12px;
    border-radius: 15px;
    width: 100%;
}

.skills {
    padding: 2px;
    float: left;
    min-height: 14px;
    border-radius: 15px;
    text-align: right;
    color: var(--fourthColor);
    background-color: #ab0000;
}

.container:hover {
    border: 1px solid var(--fourthColor);
}

.html {
    width: 60%;
}

.css {
    width: 80%;
}

.js {
    width: 65%;
}

.contact-icon {
    margin: 0;
    width: auto;
    height: 80px;
    font-size: 36px;
}

.social-media-text {
    font-size: 12px;
    color: var(--thirdColor);
}

.contact-icon:hover {
    color: var(--thirdColor);
    font-size: 42px;
}

a {
    color: inherit;
}

.caption {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    color: var(--fourthColor);
}

.caption span.border {
    font-weight: bold;
    background-color: #000000;
    box-shadow: 0 0 5px 10px black;
    color: var(--fourthColor);
    padding: 10px;
    font-size: 18px;
    letter-spacing: 5px;
}

#footer {
    width: 100%;
    text-align: center;
    background-color: #1f1f1f6c;
    letter-spacing: 5px;
}

#footer a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1{
        background-attachment: scroll;
    }

    
    .logo {
        width: 60%;
        transition: 0.2s;
        padding-top: 10px;
    }
    .logo1 {
        width: 30%;
        transition: 0.2s;
    }

    #navbar {
        padding: 5px 3px !important;
    }

    .navbarShrink {
        text-transform: uppercase;
        font-weight: bold;
        padding: 3px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 8px;
    }

    .nava {
        text-transform: uppercase;
        font-weight: bold;
        padding: 3px;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 11px;
    }

    #navbar-right {
        float: right;
    }

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }

    .container {
        font-size: 13px;
        border-radius: 15px;
        width: 100%;
        border: 1px solid var(--fourthColor);
    }

    .contact-icon {
        margin: 0;
        font-size: 26px;
    }

    .contact-icon:hover {
        color: var(--thirdColor);
        font-size: 32px;
    }

    .caption span.border {
        font-weight: bold;
        background-color: #000000;
        box-shadow: 0 0 5px 10px black;
        color: var(--fourthColor);
        padding: 5px;
        font-size: 12px;
        letter-spacing: 3px;
    }
}