:root {
    /* variaveis para cores */
    --firstColor: #1f1f1f;
    --secondColor: #000000;
    --thirdColor: #ab0000;
    --fourthColor: #ffffffce;
    --shadow-color: 0 0 30px 40px #1f1f1f;

}


* {
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    color: var(--fourthColor);
    font-family: Arial;
    background: var(--firstColor);
}

/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    width: 100%;
    top: 10px;
    z-index: 99;
    position: absolute;
    text-align: center;
    background-color: var(--firstColor);
    box-shadow: var(--shadow-color);
    letter-spacing: 5px;
    transition: 0.2s;
}

.navbarShrink {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
}

/* Style the navbar links */
.nava {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
}

/* Style the logo */
.logo {
    width: 30%;
    transition: 0.2s;
}
.logo1 {
    width: 20%;
    transition: 0.2s;
}


i {
    margin-right: 10px;
    margin-left: 3px;
}

/* Links on mouse-over */
#navbar a:hover, #footer {
    background-color: var(--secondColor);
    color: var(--fourthColor);
}

/* Display some links to the right */
#navbar-right {
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bgimg-1,
.bgimg-2 {
    display: flex;
    justify-content: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    opacity: 0.35;
    background-image: url("bg_img.jpg");
    min-height: 70%;
}

.bgimg-2 {
    background-image: url("img_parallax2.jpg");
    min-height: 300px;
}


h2,
h3 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
}

.flip-card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    border-radius: 15%;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 3px 6px 8px 0px var(--secundary-bg);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    border-radius: 15%;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
}

.flip-card-back {
    border-radius: 15%;
    background-color: var(--secondColor);
    color: var(--fourthColor);
    transform: rotateY(180deg);
}

img {
    border-radius: 15%;
}

.text-container {
    margin: auto;
    max-width: 800px;
    width: 80%;
}

.paragraph-container {
    transition: transform .2s;
    text-align: center;
    margin: 20px;
}

.paragraph-container:hover {
    transform: scale(1.1);
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    padding: 20px;
    margin-top: 65px;
}
#contact-card {
    text-align: center;
}

.container {
    width: 100%;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.container:hover {
    border: 2px solid var(--fourthColor);
}

.html {
    width: 90%;
    background-color: rgb(255, 55, 5);
}

.css {
    width: 80%;
    background-color: rgb(33, 150, 243);
}

.js {
    width: 65%;
    background-color: rgb(244, 225, 54);
}

.contact-icon {
    margin: 0;
    width: auto;
    height: 80px;
    font-size: 36px;
}

.social-media-text {
    font-size: 12px;
    color: var(--thirdColor);
}

.contact-icon:hover {
    color: var(--thirdColor);
    font-size: 42px;
}

a {
    color: inherit;
}


#footer {
    margin-top: 25%;
    overflow: hidden;
    width: 60%;
    position: absolute;
    text-align: center;
    background-color: var(--firstColor);
    box-shadow: var(--shadow-color);
    letter-spacing: 5px;
}

#footer a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .bgimg-1,
    .bgimg-2 {
        background-attachment: fixed;
    }

    .logo {
        width: 60%;
        transition: 0.2s;
        padding-top: 10px;
    }
    .logo1 {
        width: 40%;
        transition: 0.2s;
    }

    #navbar {
        padding: 5px 3px !important;
    }

    #navbar a {
        font-size: 12px;
        float: none;
        display: flex;
        text-align: left;
    }

    .navbarShrink {
        text-transform: uppercase;
        font-weight: bold;
        padding: 4px;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 6px;
    }

    .nava {
        text-transform: uppercase;
        font-weight: bold;
        padding: 12px;
        text-decoration: none;
        font-size: 12px;
    }

    #navbar-right {
        float: none;
    }

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }

    .contact-icon {
        margin: 0;
        font-size: 26px;
    }

    .contact-icon:hover {
        color: var(--thirdColor);
        font-size: 32px;
        width: fit-content;
    }
}